.env
.Dockerfile
myenv/
.json
venv/
env/
.env
*.xlsx
config.json
__pycache__/
*.pyc
.DS_Store
__pycache__/process_hds.cpython-310.pyc
__pycache__/schemas.cpython-310.pyc
ejemplo/prueba_ConcentradoHDSs.json
dist/
build/
ejemplo/outputs/
models/xx_ent_wiki_sm/*